<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Reg</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'userdash/css/userdash.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <hr>
            <h5>TestApp</h5>
            <h6><a href="/dashboard">Home</a></h6>
            <h6><a href="/signin">Sign in</a></h6>
            <hr>
        </div>
        <div id="main">
            <h1>Welcome to the Test</h1>
            <p>We're going to build a cool application using a MVC framework! THis application was built with the Village88 folks!</p>
            <a href="/register"><button id="start_button">Start</button></a>
        </div>
        <div id="footer">
            <div class="stack">
                <h6>Manage Users</h6>
                <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
            <div class="stack">
                <h6>Leave Messages</h6>
                <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
            <div class="stack">
                <h6>Edit User Information</h6>
                <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
        </div>
    </div>
</body>
</html>